body {
    text-justify: auto;
    font-size: 18px;
}
h1,h2,h3 {
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

a {
    color:#66b2ff
}

a:visited{
    color: #80d080 
}

.formulario{
    padding:10%;
    border: 5%;
    margin: 5%;
    display: flex;
}